<% provide(:title, "About") %>
<h1>About</h1>


<h2>This is the about page, where you learn all about the about page</h2>

<p>Fake about text Lorem ipsum dolor sit amet, suspendisse torquent fugit, turpis commodo tortor luctus montes elit, nonummy nec pretium aliquam morbi libero, porta quis. Id ad bibendum vestibulum a ut, molestie leo. Auctor odio ut. Enim arcu massa odio convallis eget ligula, libero sit, eleifend turpis eros rutrum quis. Pellentesque morbi, odio enim debitis est lacus, gravida quis quis lobortis orci. Lobortis risus dignissim est suscipit vestibulum, urna vivamus lectus viverra amet libero velit, donec leo, in dolor lacinia sodales. Aliquam ullam sem, metus non lorem vel cum. Tincidunt vulputate aliquet mauris vitae imperdiet, mi neque vulputate, duis donec id amet. Faucibus odio ligula habitant id magna, porta lacinia quis arcu, sapien augue sed mattis metus eget eget. Libero integer velit vitae posuere lobortis lorem, sagittis sit vehicula arcu arcu interdum, mauris eros facilisi porta ornare pretium ut, sed semper platea nibh.</p>