// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	
	background-color: grey;
}

ul{
	
	list-style-type: none;
	text-align: center;

	li{

		display: inline;
		border-right: 1px solid black;

		&:first-child{ 
			border-left: 1px solid black;
		}

		a{
			color: DarkRed;
			text-decoration: none;
			padding: 10px;
			font-size: 20px;

			&:focus{
				color:black;
			}

		}
	}
}

h1{
	
	font-size: 36px;
	color: navy;
	font-weight: bold;
}

h2{
	font-size: 24px;
	font-style: italic;
}

p{
	font-size: 16px;
}

